<!-- <div *ngFor="let id of ids ">
{{id.title}}
{{id.server}}
</div> -->

<div class="show">
  <div class="elementoVideo">
    <div class="container">
      <div class="row" *ngFor="let id of ids ">
        <h1>
          {{id.title}} {{id.server}}
        </h1>
        <div class="media80">
          <div id="myElement"></div>
          <!-- https://www.w3schools.com/html/mov_bbb.mp4 -->
 <script type="text/javascript" src="https://content.jwplatform.com/libraries/bfIbW5Pe.js"></script>
 <div id="player">This text will be removed.</div>
        </div>
      </div>
    </div>
  </div>
</div>
