<div *ngFor="let id of ids">
  <div class="Ficha fchlt">
    <img class="frontimage img-fluid rounded" src="{{id.frontimage}}" alt="{{id.title}}">
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="media">
        <figure class="figure">
          <img class="align-self-end mr-3 animeImage img-fluid rounded" src="{{id.backgroundimage}}" alt="{{id.title}}">
        </figure>
        <div class="media-body">
          <h5 class="mt-0">
            <h2 class="titlde"> {{id.title}} </h2>
          </h5>
          <p> {{id.synopsis | slice:0:180}}... </p>
          <div *ngFor="let tag of id.tags">
            {{tag.gender}}
          </div>
          <div *ngFor="let episode of id.episode">
            <img class="img-fluid rounded" src="{{episode.imageCap}}" alt="{{id.title}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
